  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Source Sans Pro', ;
    color: #505962; 
}

.offset:before {
    height: 3.8rem;
    margin-top: -3.8rem;
    content: "";
    display: block;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba (0, 0, 0, 0.6) !important; 
    opacity: 0.95;
}
.navbar-brand img {
    height: 45px; 
}
.navbar-nav li {
    padding-right: .7rem;   
}
.navbar-dark .navbar-nav .navbar-form {
    padding-top: .3rem;
}

.navbar-dark .navbar-nav .nav-link {
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: darkorange!important; 
}

.navbar-nav .dropdown-menu {
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    width: 250px;
}


.navbar-dark .navbar-nav .dropdown-item.active,
.navbar-dark .navbar-nav .dropdown-item:hover {
    color: darkorange!important; 
}
.navbar-dark .navbar-nav .fa-search.active,
.navbar-dark .navbar-nav .fa-search:hover {
    color: darkorange!important; 
}

.navbar-form input {
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: white; 
    opacity: 0.95;
}

.navbar-form button {
    background-color: #A3ACB6; 
}

.navbar-form {
    width: 200px;
}




















/*--- Contact and footer --*/

.footer-distributed {
    background-color: dimgrey;
    color: white;
    padding: 2rem 0 2rem;
    margin: 0rem;
    padding: 55px 50px;
}
.footer-distributed img {
    height: 3rem;
    margin: 1.5rem 0;
}
.footer-distributed a {
    color: white;
}
    
hr.socket {
    border-top: .07rem solid darkorange;
    width: 90%;
    text-align: right;
}




.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
	width: 40%;
}

.footer-distributed .footer-left .text {
	text-transform: uppercase;
    font-size: 18px;
}

.footer-distributed .footer-left .copyright-text {
	font-size: 14px;
    margin-top: 20px;
    font-weight: lighter;
}


/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span {
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a:hover{
	color: darkorange;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  lightgrey;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}



footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
    color: darkorange;
}
.footer-right a:hover {
    color: darkorange;  
}



@media (max-width: 880px) {

	.footer-distributed{
		font: 14px font-family: 'Source Sans Pro';
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}




